
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="win" class="easyui-window" title="My Window" style="width:600px;height:400px"
     data-options="iconCls:'icon-save',modal:true">
    Window Content
</div>
